In [ ]:
import pandas as pd
import glob
from functools import reduce

files = glob.glob(r"C:\Users\anshu\Desktop\DataSets\Liver\*.tsv")

dfs = []

for f in files:
    df = pd.read_csv(f, sep="\t")

    mzml_col = [c for c in df.columns if c.endswith(".mzML")][0]
    
    sample = f.split("\\")[-1].replace(".tsv", "")

    tiny = df[["Protein.Group", mzml_col]].copy()
    
    dfs.append(tiny)

master = reduce(lambda left, right: pd.merge(left, right, on="Protein.Group", how="outer"), dfs)

# master.to_csv("MasterMatrix.tsv", sep="\t", index=False)

print(master.head())
print("Done! Master matrix created.")

       Protein.Group  E:\Liver\XA06785DA_liver_14F_2.mzML  \
0         A0A024R1R8                                  NaN
1  A0A024R1R8;Q9Y2S6                                  NaN
2         A0A024RBG1                            5680500.0
3         A0A075B6H9                                  NaN
4         A0A075B6I0                            2094920.0

   OG022DA_liver_14_F_34.mzML  OG022DA_liver_17_F_35.mzML  \
0                         NaN                         NaN
1                   7196940.0                   5025300.0
2                         NaN                         NaN
3                    372784.0                   1583110.0
4                   8912260.0                   1173300.0

   E:\Liver\OG022DA_liver_23_M_36.mzML  E:\Liver\OG022DA_liver_25_M_37.mzML  \
0                                  NaN                                  NaN
1                                  NaN                            3420590.0
2                                  NaN                                  NaN
3                                  NaN                            2044870.0
4                             252769.0                            1880380.0

   E:\Liver\OG022DA_liver_28_M_38.mzML  E:\Liver\XA06785DA_liver_36M_10.mzML  \
0                                  NaN                            11563900.0
1                            3448900.0                                   NaN
2                            9224990.0                             4366290.0
3                             815211.0                             1091110.0
4                                  NaN                                   NaN

   E:\Liver\XA06785DA_liver_37M_11.mzML  E:\Liver\XA06785DA_liver_39M_12.mzML  \
0                                   NaN                                   NaN
1                             3905450.0                            24769500.0
2                                   NaN                             8831070.0
3                             2598390.0                             2593630.0
4                             6150690.0                             5262950.0

   ...  E:\Liver\OG022DA_liver_44_M_39.mzML  \
0  ...                                  NaN
1  ...                            3545730.0
2  ...                                  NaN
3  ...                            8380930.0
4  ...                           13280000.0

   E:\Liver\XA06785DA_liver_45F_14.mzML  E:\Liver\XA06785DA_liver_45M_15.mzML  \
0                                   NaN                                   NaN
1                             7982870.0                            10007100.0
2                            11282800.0                                   NaN
3                                   NaN                                   NaN
4                                   NaN                                   NaN

   E:\Liver\OG022DA_liver_47_M_40.mzML  E:\Liver\XA06785DA_liver_48M_16.mzML  \
0                                  NaN                                   NaN
1                            3616920.0                             8758740.0
2                            7635460.0                             3594840.0
3                             595476.0                                   NaN
4                                  NaN                                   NaN

   E:\Liver\XA06785DA_liver_49F_17.mzML  E:\Liver\XA06785DA_liver_50F_18.mzML  \
0                                   NaN                                   NaN
1                             5497720.0                                   NaN
2                             7187100.0                              902591.0
3                                   NaN                               20465.7
4                                   NaN                                   NaN

   E:\Liver\OG022DA_liver_52_F_43.mzML  E:\Liver\OG022DA_liver_59_M_44.mzML  \
0                                  NaN                                  NaN
1                            6965030.0                                  NaN
2                            6971570.0                                  NaN
3                            4428740.0                            1478880.0
4                            5662180.0                                  NaN

   E:\Liver\OG022DA_liver_66_M_45.mzML
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN

[5 rows x 21 columns]
Done! Master matrix created.

In [28]:
master.columns = [col.split('\\')[-1] for col in master.columns]

In [29]:
master.head()

,Protein.Group,XA06785DA_liver_14F_2.mzML,OG022DA_liver_14_F_34.mzML,OG022DA_liver_17_F_35.mzML,OG022DA_liver_23_M_36.mzML,OG022DA_liver_25_M_37.mzML,OG022DA_liver_28_M_38.mzML,XA06785DA_liver_36M_10.mzML,XA06785DA_liver_37M_11.mzML,XA06785DA_liver_39M_12.mzML,...,OG022DA_liver_44_M_39.mzML,XA06785DA_liver_45F_14.mzML,XA06785DA_liver_45M_15.mzML,OG022DA_liver_47_M_40.mzML,XA06785DA_liver_48M_16.mzML,XA06785DA_liver_49F_17.mzML,XA06785DA_liver_50F_18.mzML,OG022DA_liver_52_F_43.mzML,OG022DA_liver_59_M_44.mzML,OG022DA_liver_66_M_45.mzML
0,A0A024R1R8,NaN,NaN,NaN,NaN,NaN,NaN,11563900.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0A024R1R8;Q9Y2S6,NaN,7196940.0,5025300.0,NaN,3420590.0,3448900.0,NaN,3905450.0,24769500.0,...,3545730.0,7982870.0,10007100.0,3616920.0,8758740.0,5497720.0,NaN,6965030.0,NaN,NaN
2,A0A024RBG1,5680500.0,NaN,NaN,NaN,NaN,9224990.0,4366290.0,NaN,8831070.0,...,NaN,11282800.0,NaN,7635460.0,3594840.0,7187100.0,902591.0,6971570.0,NaN,NaN
3,A0A075B6H9,NaN,372784.0,1583110.0,NaN,2044870.0,815211.0,1091110.0,2598390.0,2593630.0,...,8380930.0,NaN,NaN,595476.0,NaN,NaN,20465.7,4428740.0,1478880.0,NaN
4,A0A075B6I0,2094920.0,8912260.0,1173300.0,252769.0,1880380.0,NaN,NaN,6150690.0,5262950.0,...,13280000.0,NaN,NaN,NaN,NaN,NaN,NaN,5662180.0,NaN,NaN

In [32]:
master.columns = [
    "_".join(col.split('_')[2:4]) if len(col.split('_')) >= 4 else col
    for col in master.columns
]

In [33]:
master.head()

,Protein.Group,14F_2.mzML,14_F,17_F,23_M,25_M,28_M,36M_10.mzML,37M_11.mzML,39M_12.mzML,...,44_M,45F_14.mzML,45M_15.mzML,47_M,48M_16.mzML,49F_17.mzML,50F_18.mzML,52_F,59_M,66_M
0,A0A024R1R8,NaN,NaN,NaN,NaN,NaN,NaN,11563900.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0A024R1R8;Q9Y2S6,NaN,7196940.0,5025300.0,NaN,3420590.0,3448900.0,NaN,3905450.0,24769500.0,...,3545730.0,7982870.0,10007100.0,3616920.0,8758740.0,5497720.0,NaN,6965030.0,NaN,NaN
2,A0A024RBG1,5680500.0,NaN,NaN,NaN,NaN,9224990.0,4366290.0,NaN,8831070.0,...,NaN,11282800.0,NaN,7635460.0,3594840.0,7187100.0,902591.0,6971570.0,NaN,NaN
3,A0A075B6H9,NaN,372784.0,1583110.0,NaN,2044870.0,815211.0,1091110.0,2598390.0,2593630.0,...,8380930.0,NaN,NaN,595476.0,NaN,NaN,20465.7,4428740.0,1478880.0,NaN
4,A0A075B6I0,2094920.0,8912260.0,1173300.0,252769.0,1880380.0,NaN,NaN,6150690.0,5262950.0,...,13280000.0,NaN,NaN,NaN,NaN,NaN,NaN,5662180.0,NaN,NaN

In [34]:
master.columns = [col.split('.')[0] for col in master.columns]

In [35]:
master.head()

,Protein,14F_2,14_F,17_F,23_M,25_M,28_M,36M_10,37M_11,39M_12,...,44_M,45F_14,45M_15,47_M,48M_16,49F_17,50F_18,52_F,59_M,66_M
0,A0A024R1R8,NaN,NaN,NaN,NaN,NaN,NaN,11563900.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0A024R1R8;Q9Y2S6,NaN,7196940.0,5025300.0,NaN,3420590.0,3448900.0,NaN,3905450.0,24769500.0,...,3545730.0,7982870.0,10007100.0,3616920.0,8758740.0,5497720.0,NaN,6965030.0,NaN,NaN
2,A0A024RBG1,5680500.0,NaN,NaN,NaN,NaN,9224990.0,4366290.0,NaN,8831070.0,...,NaN,11282800.0,NaN,7635460.0,3594840.0,7187100.0,902591.0,6971570.0,NaN,NaN
3,A0A075B6H9,NaN,372784.0,1583110.0,NaN,2044870.0,815211.0,1091110.0,2598390.0,2593630.0,...,8380930.0,NaN,NaN,595476.0,NaN,NaN,20465.7,4428740.0,1478880.0,NaN
4,A0A075B6I0,2094920.0,8912260.0,1173300.0,252769.0,1880380.0,NaN,NaN,6150690.0,5262950.0,...,13280000.0,NaN,NaN,NaN,NaN,NaN,NaN,5662180.0,NaN,NaN

In [36]:
master.columns = [
    "".join(col.split('_')[0:2]) if not col.split('_')[-1].isdigit() else col
    for col in master.columns
]

In [37]:
master.head()

,Protein,14F_2,14F,17F,23M,25M,28M,36M_10,37M_11,39M_12,...,44M,45F_14,45M_15,47M,48M_16,49F_17,50F_18,52F,59M,66M
0,A0A024R1R8,NaN,NaN,NaN,NaN,NaN,NaN,11563900.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0A024R1R8;Q9Y2S6,NaN,7196940.0,5025300.0,NaN,3420590.0,3448900.0,NaN,3905450.0,24769500.0,...,3545730.0,7982870.0,10007100.0,3616920.0,8758740.0,5497720.0,NaN,6965030.0,NaN,NaN
2,A0A024RBG1,5680500.0,NaN,NaN,NaN,NaN,9224990.0,4366290.0,NaN,8831070.0,...,NaN,11282800.0,NaN,7635460.0,3594840.0,7187100.0,902591.0,6971570.0,NaN,NaN
3,A0A075B6H9,NaN,372784.0,1583110.0,NaN,2044870.0,815211.0,1091110.0,2598390.0,2593630.0,...,8380930.0,NaN,NaN,595476.0,NaN,NaN,20465.7,4428740.0,1478880.0,NaN
4,A0A075B6I0,2094920.0,8912260.0,1173300.0,252769.0,1880380.0,NaN,NaN,6150690.0,5262950.0,...,13280000.0,NaN,NaN,NaN,NaN,NaN,NaN,5662180.0,NaN,NaN

In [38]:
master.columns = [col.split('_')[0] for col in master.columns]

In [39]:
master.head()

,Protein,14F,14F,17F,23M,25M,28M,36M,37M,39M,...,44M,45F,45M,47M,48M,49F,50F,52F,59M,66M
0,A0A024R1R8,NaN,NaN,NaN,NaN,NaN,NaN,11563900.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0A024R1R8;Q9Y2S6,NaN,7196940.0,5025300.0,NaN,3420590.0,3448900.0,NaN,3905450.0,24769500.0,...,3545730.0,7982870.0,10007100.0,3616920.0,8758740.0,5497720.0,NaN,6965030.0,NaN,NaN
2,A0A024RBG1,5680500.0,NaN,NaN,NaN,NaN,9224990.0,4366290.0,NaN,8831070.0,...,NaN,11282800.0,NaN,7635460.0,3594840.0,7187100.0,902591.0,6971570.0,NaN,NaN
3,A0A075B6H9,NaN,372784.0,1583110.0,NaN,2044870.0,815211.0,1091110.0,2598390.0,2593630.0,...,8380930.0,NaN,NaN,595476.0,NaN,NaN,20465.7,4428740.0,1478880.0,NaN
4,A0A075B6I0,2094920.0,8912260.0,1173300.0,252769.0,1880380.0,NaN,NaN,6150690.0,5262950.0,...,13280000.0,NaN,NaN,NaN,NaN,NaN,NaN,5662180.0,NaN,NaN

In [40]:
master.to_csv("MasterMatrix.tsv", sep="\t", index=False)

In [43]:
master.columns[1:]

Index(['14F', '14F', '17F', '23M', '25M', '28M', '36M', '37M', '39M', '43M',
       '44M', '45F', '45M', '47M', '48M', '49F', '50F', '52F', '59M', '66M'],
      dtype='object')

In [49]:
i=1
for col in master.columns[1:]:
    master.rename(columns={col: f"{col[:-1]}_{col[-1]}"}, inplace=True)

In [50]:
master.columns

Index(['Protein', '14_F', '14_F', '17_F', '23_M', '25_M', '28_M', '36_M',
       '37_M', '39_M', '43_M', '44_M', '45_F', '45_M', '47_M', '48_M', '49_F',
       '50_F', '52_F', '59_M', '66_M'],
      dtype='object')

In [51]:
master.head()

,Protein,14_F,14_F,17_F,23_M,25_M,28_M,36_M,37_M,39_M,...,44_M,45_F,45_M,47_M,48_M,49_F,50_F,52_F,59_M,66_M
0,A0A024R1R8,NaN,NaN,NaN,NaN,NaN,NaN,11563900.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0A024R1R8;Q9Y2S6,NaN,7196940.0,5025300.0,NaN,3420590.0,3448900.0,NaN,3905450.0,24769500.0,...,3545730.0,7982870.0,10007100.0,3616920.0,8758740.0,5497720.0,NaN,6965030.0,NaN,NaN
2,A0A024RBG1,5680500.0,NaN,NaN,NaN,NaN,9224990.0,4366290.0,NaN,8831070.0,...,NaN,11282800.0,NaN,7635460.0,3594840.0,7187100.0,902591.0,6971570.0,NaN,NaN
3,A0A075B6H9,NaN,372784.0,1583110.0,NaN,2044870.0,815211.0,1091110.0,2598390.0,2593630.0,...,8380930.0,NaN,NaN,595476.0,NaN,NaN,20465.7,4428740.0,1478880.0,NaN
4,A0A075B6I0,2094920.0,8912260.0,1173300.0,252769.0,1880380.0,NaN,NaN,6150690.0,5262950.0,...,13280000.0,NaN,NaN,NaN,NaN,NaN,NaN,5662180.0,NaN,NaN

In [52]:
master.to_csv("MasterMatrix.tsv", sep="\t", index=False)

In [1]:
master.head()

NameError: name 'master' is not defined

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("MasterMatrix.tsv", sep="\t")

In [5]:
df.to_excel("output.xlsx", index=False)